.sparkline-svg {
	vertical-align: baseline;

	.line {
		fill: none;
		stroke: black;
		stroke-width: 1px;
	}

	.band {
		fill: gray;
		fill-opacity: 0.4;
	}

	.point {
		// fill: none;
		stroke: black;
		stroke-width: 0.5px;
	}
}
